<div class="row">
  <div class="col-4">
    <img [src]="book.image" alt="" class="img-thumbnail book-image">
  </div>
  <div class="col-8">
    <div class="row">
      <h2 class="book-title">{{book.title}}</h2>
    </div>
    <div class="row">
      <h4 class="book-price">{{book.price | currency:'EUR'}}</h4>
    </div>
    <div class="row">
      <h4 class="book-upvotes">{{book.upVotes}} votes</h4>
    </div>
    <div class="row">
      <h4 class="book-description">{{book.description}}</h4>
    </div>
    <div class="row"><button class="upvote" (click)="upVote()">up vote</button></div>
    <div class="row"><button class="send-to-cart" (click)="sendToCart()">add to cart</button></div>
  </div>
</div>
